In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
raw = pd.read_csv('data_raw.csv')
# df_dev = pd.read_csv('data_development.csv')
# df_inf = pd.read_csv('data_inference.csv')
# train = pd.read_csv('train.csv')
# test = pd.read_csv('test.csv')

# df_dev.head()
raw.head()

             username  ...    datetime
0       ainun_muainun  ...  2021-06-23
1           diladil13  ...  2021-06-23
2               14x32  ...  2021-06-23
3  solihah_moko_steak  ...  2021-06-23
4       rony.saefudin  ...  2021-06-23

[5 rows x 4 columns]

In [ ]:
# df_inf.head()

In [ ]:
# # fixed column data inference
# df_inf = df_inf.rename(columns={'comments':'text', 'usernames':'username'})
# df_inf['label'] = None
# cols = ['text', 'label', 'username', 'likes', 'datetime']
# df_inf = df_inf[cols]

# df_inf.head()

In [ ]:
# fixed column name data raw
raw = raw.rename(columns={'comments':'text'})
raw.head()

             username  ...    datetime
0       ainun_muainun  ...  2021-06-23
1           diladil13  ...  2021-06-23
2               14x32  ...  2021-06-23
3  solihah_moko_steak  ...  2021-06-23
4       rony.saefudin  ...  2021-06-23

[5 rows x 4 columns]

In [ ]:
pattern = "(?:@)([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)"

def replace_username(df):
    df['text'] = df['text'].apply(lambda x: re.sub(pattern, "@username", x))
    df['username'] = ['username' for i in range(len(df))]
    return df

In [ ]:
raw = replace_username(raw)
# df_dev = replace_username(df_dev)
# df_inf = replace_username(df_inf)
# train = replace_username(train)
# test = replace_username(test)

In [ ]:
# sort data ascending development and inference
# df_dev = df_dev.sort_values(by='datetime', ascending=True, ignore_index=True)
# df_dev['data_type'] = 'development'

# df_inf = df_inf.sort_values(by='datetime', ascending=True, ignore_index=True)
# df_inf['data_type'] = 'inference'

# df_inf.head()

raw = raw.sort_values(by='datetime', ascending=True, ignore_index=True)
raw.head()

   username                                        text likes    datetime
0  username                   Have a nice day, dear.. üòò     0  2018-12-01
1  username                                     Mantaap     0  2018-12-08
2  username             Ijin repost yaa min @username üôè     0  2018-12-09
3  username  Mantaappp....langsung instal nih @username     0  2018-12-09
4  username                                   Mantaaapüëç     0  2018-12-09

In [ ]:
df = pd.concat([df_dev, df_inf], ignore_index=True)
df.head()

                                                text  ...    data_type
0                                         Ijin share  ...  development
1                                          @username  ...  development
2   @username perlune cuci tangan mbing . santai wae  ...  development
3                                 Pegawai PUSKESMAS?  ...  development
4  Kalo untuk para pegawai RS terutama bagian pen...  ...  development

[5 rows x 6 columns]

In [ ]:
df['data_type'].value_counts()

inference      17547
development     9959
Name: data_type, dtype: int64

In [ ]:
# export csv
# df_dev.to_csv('data_development_masked.csv', index=False)
# df_inf.to_csv('data_inference_masked.csv', index=False)
# df.to_csv('data_complete_masked.csv', index=False)
# train.to_csv('train_masked.csv', index=False)
# test.to_csv('test_masked.csv', index=False)
raw.to_csv('data_raw_masked.csv', index=False)