In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# batch 1
batch1 = pd.read_csv('/content/batch1_labeled.csv', sep=';',encoding='cp1252')
batch1.head()

                                                text    label
0  minkes...utk kelurahan wonoplumbon kec mijen b...  Negatif
1  Aku udh vaksin 2kali ini tetep kena ...minta d...  Negatif
2  Gak yakin ini data realtime. Perasaan yg dilap...  Negatif
3  pak kemaren saya percaya bsnget dengan covid k...  Negatif
4                      Sendangmulyo tambah terus ??,  Negatif

In [ ]:
batch1.shape

(2067, 2)

In [ ]:
batch1['label'].value_counts()

Netral     907
Negatif    798
Positif    362
Name: label, dtype: int64

In [ ]:
# batch 2
batch2 = pd.read_csv('/content/batch2_javas.csv')[['text', 'label']]
batch2.head()

                                                text  label
0  Pak @hendrarprihadi @dkksemarang kasian nakes ...    3.0
1                                Tembalang memerah..    3.0
2  Ayo semua sadar diri ,apa beratnya to pakai ma...    1.0
3                                     üò¢ kec.ngaliyan    1.0
4                   Di playstore nama app nya apa ya    1.0

In [ ]:
batch2.shape

(2067, 2)

In [ ]:
# batch 3
batch3 = pd.read_csv('/content/batch_3_labeled_newest.csv') 
batch3.head()

   annotation_approver  comment_count  ...                   updated_at  user
0                  NaN              0  ...  2021-07-31T03:40:50.008813Z     1
1                  NaN              0  ...  2021-07-31T03:45:07.798768Z     1
2                  NaN              0  ...  2021-07-31T03:41:22.856629Z     1
3                  NaN              0  ...  2021-07-31T03:41:42.756118Z     1
4                  NaN              0  ...  2021-07-31T03:41:45.662884Z     1

[5 rows x 8 columns]

In [ ]:
batch3.shape

(2068, 8)

In [ ]:
# check duplicate
batch3[batch3['id'].duplicated()]

     annotation_approver  comment_count  ...                   updated_at  user
139                  NaN              0  ...  2021-07-31T03:59:09.834611Z     1

[1 rows x 8 columns]

In [ ]:
# delete duplicate 'id'
batch3 = batch3.drop([139]).reset_index(drop=True)

# check duplicate
batch3[batch3['id'].duplicated()]

Empty DataFrame
Columns: [annotation_approver, comment_count, created_at, id, label, text, updated_at, user]
Index: []

In [ ]:
batch3 = batch3[['text', 'label']]
batch3['label'].value_counts()

3    819
2    641
1    607
Name: label, dtype: int64

In [ ]:
# batch 4
# batch4 = pd.read_csv('/content/Batch4.csv')[['text','label']]
# batch4 = batch4.rename(columns={'text':'text2'})
# batch4.head()

In [ ]:
# batch4.to_excel('batch4_anno.xlsx', index=False)

In [ ]:
# batch4_ori.to_excel('batch4_ori.xlsx', index=False)

In [ ]:
# batch4.shape

In [ ]:
batch4 = pd.read_excel('/content/batch4_ori.xlsx')
batch4.head()

                                                text  label
0  Mksh infonya....tetap jaga stamina.....kita pa...      2
1  Cuma semarang abis demo malah menurun, jadi be...      1
2  Alhamdulillah mulai turun lagi semoga turun te...      2
3                                      yoh iso yoh üëç      2
4  alhamdulillah... ayo turun terus üëè yg paling p...      2

In [ ]:
batch4.shape

(2067, 2)

In [ ]:
batch4['label'].value_counts()

3    845
2    640
1    582
Name: label, dtype: int64

In [ ]:
# batch 5
batch5 = pd.read_csv('/content/batch5_done.csv')[['text', 'label']]
batch5.head()

                                                text  label
0  Mungkin pas ngeprint tinta nya abis gaieeessss...      3
1                        Seng penting ayoo ndang nol      2
2                                                  üôè      2
3  Siap Bos laksanakan semoga semuanya sehat bers...      2
4             Aamiin ya Rabb,semoga semuanya sehatüôèüôè      2

In [ ]:
batch5.shape

(2067, 2)

# Rename label

In [ ]:
rule1 = {'Negatif':'negative',
        'Netral':'neutral',
        'Positif':'positive'}
rule2 = {1:'neutral',
         2:'positive',
         3:'negative'}

In [ ]:
batch1['label'] = batch1['label'].map(rule1)
batch1.head()

                                                text     label
0  minkes...utk kelurahan wonoplumbon kec mijen b...  negative
1  Aku udh vaksin 2kali ini tetep kena ...minta d...  negative
2  Gak yakin ini data realtime. Perasaan yg dilap...  negative
3  pak kemaren saya percaya bsnget dengan covid k...  negative
4                      Sendangmulyo tambah terus ??,  negative

In [ ]:
batch2['label'] = batch2['label'].map(rule2)
batch3['label'] = batch3['label'].map(rule2)
batch4['label'] = batch4['label'].map(rule2)
batch5['label'] = batch5['label'].map(rule2)

In [ ]:
batch5['label'].value_counts()

negative    779
positive    696
neutral     592
Name: label, dtype: int64

In [ ]:
batch1.shape, batch2.shape, batch3.shape, batch4.shape, batch5.shape

((2067, 2), (2067, 2), (2067, 2), (2067, 2), (2067, 2))

# Concat

In [ ]:
data = pd.concat([batch1, batch2, batch3, batch4, batch5], ignore_index=True)
data.shape

(10335, 2)

In [ ]:
data.head()

                                                text     label
0  minkes...utk kelurahan wonoplumbon kec mijen b...  negative
1  Aku udh vaksin 2kali ini tetep kena ...minta d...  negative
2  Gak yakin ini data realtime. Perasaan yg dilap...  negative
3  pak kemaren saya percaya bsnget dengan covid k...  negative
4                      Sendangmulyo tambah terus ??,  negative

In [ ]:
data_ori = pd.read_csv('/content/dkk_comments_final.csv')
data_ori.head()

             username  ...    datetime
0       ainun_muainun  ...  2021-06-23
1           diladil13  ...  2021-06-23
2               14x32  ...  2021-06-23
3  solihah_moko_steak  ...  2021-06-23
4       rony.saefudin  ...  2021-06-23

[5 rows x 4 columns]

In [ ]:
data_ori.shape

(10335, 4)

In [ ]:
data['username'] = data_ori['username']
data['likes'] = data_ori['likes']
data['datetime'] = data_ori['datetime']

In [ ]:
data.head()

                                                text  ...    datetime
0  minkes...utk kelurahan wonoplumbon kec mijen b...  ...  2021-06-23
1  Aku udh vaksin 2kali ini tetep kena ...minta d...  ...  2021-06-23
2  Gak yakin ini data realtime. Perasaan yg dilap...  ...  2021-06-23
3  pak kemaren saya percaya bsnget dengan covid k...  ...  2021-06-23
4                      Sendangmulyo tambah terus ??,  ...  2021-06-23

[5 rows x 5 columns]

# Filter date

In [ ]:
# get data after 1st covid case
data = data[data['datetime'] >= '2020-03-03'].reset_index(drop=True)
data.shape

(9959, 5)

In [ ]:
data.head()

                                                text  ...    datetime
0  minkes...utk kelurahan wonoplumbon kec mijen b...  ...  2021-06-23
1  Aku udh vaksin 2kali ini tetep kena ...minta d...  ...  2021-06-23
2  Gak yakin ini data realtime. Perasaan yg dilap...  ...  2021-06-23
3  pak kemaren saya percaya bsnget dengan covid k...  ...  2021-06-23
4                      Sendangmulyo tambah terus ??,  ...  2021-06-23

[5 rows x 5 columns]

In [ ]:
data['label'].value_counts()

neutral     3658
negative    3468
positive    2832
Name: label, dtype: int64

# Split train and test

In [ ]:
# masih ada null
data[data['label'].isnull()]

                                                   text label  ... likes    datetime
3197  Mlah naek trusüî•üî•üî• sp ni yg mbandel... Jgn gr2 ...   NaN  ...     1  2021-03-28

[1 rows x 5 columns]

In [ ]:
# manual labelling
data['label'][3197] = 'negative'

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, 
                               test_size=0.2,
                               random_state=2021,
                               stratify=data['label'])

train.shape, test.shape

((7967, 5), (1992, 5))

In [ ]:
train.head()

                                                   text  ...    datetime
5982                                                  üî•  ...  2020-11-02
3158                        Naik Turun maju can5ik üòÇüòÇüòÇüòÇ  ...  2021-03-29
6679  Prosentase tingkat kematian karena covid 19 ut...  ...  2020-09-22
9716  Rapid test/ test swab PCR Di DKK/dinkes Semara...  ...  2020-05-29
985              Min, area pedurungan bs dilakukan dmn,  ...  2021-06-22

[5 rows x 5 columns]

In [ ]:
test.head()

                                                   text  ...    datetime
4387  kapan mulai vaksin massal... cara cek dapet va...  ...  2021-01-26
320   @nandhito.zero baik kak ,coba ini tak coba ula...  ...  2021-06-23
892   kok tugu 4 ya? lah di graha padma aja dah 27 o...  ...  2021-06-17
9578  Terimakasih min infonya, berharap tiap hari bi...  ...  2020-06-05
6450                                Ayo Turun lg ......  ...  2020-09-30

[5 rows x 5 columns]

# Export

In [ ]:
data.to_csv('data_complete.csv', index=False)
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)