In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [ ]:
path = "/content"
# csv files in the path
files = glob.glob(path + "/*.csv")
files

['/content/6.csv',
 '/content/9.csv',
 '/content/5.csv',
 '/content/10.csv',
 '/content/8.csv',
 '/content/1.csv',
 '/content/4.csv',
 '/content/2.csv',
 '/content/11.csv',
 '/content/3.csv',
 '/content/0.csv',
 '/content/7.csv']

In [ ]:
# defining an empty list to store 
# content
df = pd.DataFrame()
content = []
  
# checking all the csv files in the 
# specified path
for filename in files:
    
    # reading content of csv file
    # content.append(filename)
    df = pd.read_csv(filename, index_col=None)
    content.append(df)
  
# converting content to data frame
df = pd.concat(content, ignore_index=True)
df.shape

(19823, 4)

In [ ]:
df.head()

        usernames  ...    datetime
0   hitominyanana  ...  2021-08-18
1        tiyok192  ...  2021-08-18
2  adi_satria6969  ...  2021-08-18
3     by.sandraa_  ...  2021-08-18
4       okkyher13  ...  2021-08-18

[5 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19823 entries, 0 to 19822
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   usernames  19823 non-null  object
 1   comments   19823 non-null  object
 2   likes      19823 non-null  object
 3   datetime   19823 non-null  object
dtypes: object(4)
memory usage: 619.6+ KB

In [ ]:
# convert datatype
df['datetime'] = pd.to_datetime(df.datetime)
df['likes'] = pd.to_numeric(df.likes, errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19823 entries, 0 to 19822
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   usernames  19823 non-null  object
 1   comments   19823 non-null  object
 2   likes      19744 non-null  float64
 3   datetime   19823 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 619.6+ KB

Some of the data need to fix data likes

In [ ]:
import re

likes_process = df[df.likes.isnull()]
temp_like = []
temp_comment = []

for idx,c in enumerate(likes_process['comments']):
    c = re.split(r'[0-9]w', c)
    
    comment = c[0]
    temp_comment.append(comment)

    like = c[1].split(' ')[0]
    if like == 'Reply':
        temp_like.append(0)
    else:
        temp_like.append(int(like))
likes_process.loc[:,'likes'] = [l for l in temp_like]
likes_process.loc[:, 'comments'] = [c for c in temp_comment]
likes_process.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

              usernames  ...   datetime
744         dita_desnat  ... 2021-08-16
861              mxhx29  ... 2021-08-16
863         thonoevht18  ... 2021-08-16
866  randusarirandusari  ... 2021-08-16
906        rizkyauliaps  ... 2021-08-16

[5 rows x 4 columns]

In [ ]:
# replace main data with fixed data
for idx,row in likes_process.iterrows():
    df['comments'].iloc[idx] = row['comments']
    df['likes'].iloc[idx] = row['likes']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df = df.sort_values(by='datetime', ignore_index=True)
df.head()

           usernames  ...   datetime
0    dianisticahyani  ... 2021-05-28
1        lilis_hanco  ... 2021-05-28
2      hadi_soeparno  ... 2021-05-28
3  adib_putratunggal  ... 2021-05-28
4     ratihdyahutami  ... 2021-05-28

[5 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19823 entries, 0 to 19822
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   usernames  19823 non-null  object
 1   comments   19823 non-null  object
 2   likes      19823 non-null  float64
 3   datetime   19823 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 619.6+ KB

In [ ]:
# fix datatype
df['likes'] = pd.to_numeric(df.likes, downcast='integer')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19823 entries, 0 to 19822
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   usernames  19823 non-null  object
 1   comments   19823 non-null  object
 2   likes      19823 non-null  int16
 3   datetime   19823 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int16(1), object(2)
memory usage: 503.4+ KB

In [ ]:
df.head()

           usernames  ...   datetime
0    dianisticahyani  ... 2021-05-28
1        lilis_hanco  ... 2021-05-28
2      hadi_soeparno  ... 2021-05-28
3  adib_putratunggal  ... 2021-05-28
4     ratihdyahutami  ... 2021-05-28

[5 rows x 4 columns]

In [ ]:
# filter data > 23 Juni 2021
df = df[df.datetime > '2021-06-23'].reset_index(drop=True)
df.shape

(17547, 4)

In [ ]:
df.head()

         usernames  ...   datetime
0        marlexsky  ... 2021-06-24
1  kristianhendy34  ... 2021-06-24
2    son_marsono07  ... 2021-06-24
3         erizdina  ... 2021-06-24
4   lusia_semarang  ... 2021-06-24

[5 rows x 4 columns]

In [ ]:
# export to csv
df.to_csv('data_inference.csv', index=False)